@import "tailwindcss";

:root {

  /* FUNDOS */

  --background: #0f0f0f;

  --background-soft: #131313;

  --background-card: #141414;


  /* TEXTOS */

  --foreground: #f5f0e8;

  --text-muted: #cfcfcf;


  /* DOURADOS */

  --gold: #d6a85f;

  --gold-light: #f1d28b;

  --gold-dark: #b8863b;

}

*{
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{

  margin:0;

  background:
  radial-gradient(
    circle at top right,
    rgba(214,168,95,.05),
    transparent 30%
  ),

  linear-gradient(
    180deg,
    #0f0f0f,
    #151515
  );

  color:var(--foreground);

  font-family:var(--font-inter),Arial,sans-serif;

  overflow-x:hidden;

  -webkit-font-smoothing:antialiased;

  text-rendering:geometricPrecision;

}

h1,h2,h3,h4,h5,h6{

  font-family:var(--font-sora),Arial,sans-serif;

}

a,button{

  -webkit-tap-highlight-color:transparent;

}

::selection{

  background:var(--gold);

  color:#111;

}


/* SCROLL */

::-webkit-scrollbar{

  width:10px;

}

::-webkit-scrollbar-track{

  background:#111111;

}

::-webkit-scrollbar-thumb{

  background:

  linear-gradient(

    180deg,

    var(--gold-light),

    var(--gold-dark)

  );

  border-radius:999px;

}


/* TEXTO DOURADO */

.gold-text{

  background:

  linear-gradient(

    90deg,

    #fff8e7,

    #f1d28b,

    #d6a85f

  );

  -webkit-background-clip:text;

  background-clip:text;

  color:transparent;

}


/* CARDS */

.premium-card{

  background:

  rgba(24, 24, 24, 0.88);

  border:

  1px solid rgba(214,168,95,.14);

  box-shadow:

  0 20px 60px rgba(0,0,0,.25),

  0 0 40px rgba(214,168,95,.04);

  backdrop-filter:blur(18px);

  transition:all .35s ease;

}

.premium-card:hover{

  transform:translateY(-8px);

  background:

  rgba(24, 24, 24, 0.96);

  border:

  1px solid rgba(214,168,95,.32);

  box-shadow:

  0 30px 80px rgba(0,0,0,.32),

  0 0 50px rgba(214,168,95,.08);

}


/* SEÇÕES */

.section-soft{

  background:

  linear-gradient(

    135deg,

    #0c0c0c,

    #111111

  );

}

.section-gold{

  background:

  radial-gradient(

    circle at top right,

    rgba(214,168,95,.10),

    transparent 35%

  ),

  linear-gradient(

    180deg,

    #111111,

    #191919

  );

}


/* TEXTOS SECUNDÁRIOS */

.text-muted-premium{

  color:var(--text-muted);

}